.cover__link {
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 21%;
  padding-bottom: 245px;
  flex-direction: column;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.cover__link::after {
  content: "";
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #2a2c2f;
  opacity: 0.3;
  /* z-index: -1; */
  transition: 0.2s linear;
}

.cover__link:hover:after {
  opacity: 0.9;
}

@media (max-width: 1025px) {
  .cover__link {
    margin: 0;
    max-height: 640px;
    padding-bottom: 195px;
  }
}

@media (max-width: 769px) {
  .cover__link {
    max-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    max-height: 200px;
  }
}