.places {
  max-width: calc(100% - 96px);
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .places {
    max-width: 100%;
  }
}

@media (max-width: 930px) {
  .places {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 420px) {
  .places {
    max-width: 100%;
  }
}
