.photo-grid__cell {
  max-width: 284px;
  max-height: min-content;
}

@media (max-width: 1025px) {
  .photo-grid__cell {
    max-width: 300px;
  }
}

@media (max-width: 769px) {
  .photo-grid__cell {
    max-width: 352px;
    overflow: hidden;
  }
}

@media (max-width: 320px) {
  .photo-grid__cell {
    max-width: calc(100% - 32px);
    padding: 0 16px;
  }
}
