.lead__introductory-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 64px 0 0;
}

@media (max-width: 1025px) {
  .lead__introductory-image {
    max-width: 100%;
    margin: 56px 0 0;
  }
}

@media (max-width: 320px) {
  .lead__introductory-image {
    margin: 40px 0 0;
  }
}
