.lead__image {
  max-width: 984px;
  min-height: 615px;
}

@media (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    min-height: 580px;
  }
}

@media (max-width: 980px) {
  .lead__image {
    max-width: 100%;
    min-height: auto;
  }
}

@media (max-width: 768px) {
  .lead__image {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .lead__image {
    min-height: auto;
  }
}

@media (max-width: 340px) {
  .lead__image {
    min-height: 200px;
  }
}
