.place {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  max-width: 984px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 8%;
  justify-content: space-between;
}

.place:last-child {
  margin-bottom: 0;
}

@media (max-width: 420px) {
  .place {
    margin-bottom: 32px;
  }
}
