.place {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  max-width: 984px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 80px;
  justify-content: space-between;
}

.place:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .place {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .place {
    max-width: 720px;
    margin-bottom: 73px;
  }
}

@media (max-width: 420px) {
  .place {
    margin-bottom: 50px;
  }
}
