.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 48px;
  }
}

@media (max-width: 769px) {
  .footer {
    padding: 0 24px;
  }
}

@media (max-width: 658px) {
  .footer {
    flex-direction: column;
    padding: 0 16px;
  }
}
